---
import { Image } from 'astro:assets';
import wellnessIcon from '../assets/images/wellness-02.svg';
import educationIcon from '../assets/images/education-02.svg';
import commitmentIcon from '../assets/images/commitment-02.svg';
---

<div class="outer-container">
    <div class="container">
        <div class="card">
            <h2>01</h2>
            <p><Image alt="Heart Icon" src={wellnessIcon} width={100} height={100} /></p>
            <h3>Gynäkologische Vorsorge</h3>
            <a href="/blog/gyn">Mehr erfahren</a>
        </div>
        <div class="card">
            <h2>02</h2>
            <p><Image alt="Drop Icon" src={educationIcon} width={100} height={100} /></p>
            <h3>Schwangerschaftsvorsorge</h3>
            <a href="/blog/schwangerschaft">Mehr erfahren</a>
        </div>
        <div class="card">
            <h2>03</h2>
            <p><Image alt="Bulb Icon" src={commitmentIcon} width={100} height={100} /></p>
            <h3>Krebsnachsorge</h3>
            <a href="/blog/krebsnachsorge">Mehr erfahren</a>
        </div>
        <div class="card">
            <h2>04</h2>
            <p><Image alt="Bulb Icon" src={wellnessIcon} width={100} height={100} /></p>
            <h3>Ultraschalluntersuchung</h3>
            <a href="/blog/ultraschall">Mehr erfahren</a>
        </div>
        <div class="card">
            <h2>05</h2>
            <p><Image alt="Bulb Icon" src={wellnessIcon} width={100} height={100} /></p>
            <h3>Brustuntersuchung</h3>
            <a href="/blog/brustuntersuchung">Mehr erfahren</a>
        </div>
    </div>
    <div class="read-more-div">
        <a class="read-more" href="/blog">Zum gesamten Angebot</a>
    </div>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .outer-container {
        padding: 10px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    .card {
        width: 350px;
        margin: 10px;
        padding: 20px;
        background-color: var(--accent);
        border-radius: 5px;
        text-align: center;
        color: white;
        box-sizing: border-box;
        transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s;
    }

    .card:hover {
        background-color: var(--accent);
        transform: scale(1.05); 
        z-index: 10;            
        opacity: 1;            
    }
    .container:has(.card:hover) .card:not(:hover) {
        background-color: #d3c6b7;
        opacity: 0.7;             
    }

    .card h2, .card p {
        margin: 10px 0;
        color: white;
    }

    .card a {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white;
    }

    .card a:hover {
        color: #555;
        border-bottom: 1px solid #555;
    }

    h3 {
        color: white;
        font-family: "Inria Serif", serif;
        font-size: 5vh;
        padding-bottom: 2vh;
    }

    .card p img {
        width: 70%;
        height: 30vh; 
        display: block;
        margin: 0 auto;
    }
    .read-more-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .read-more {
        display: inline-block;
        padding: 10px 0px ;
        color: white;
        font-weight: 200;
        text-decoration: none;
        background-color: #d3c6b7; 
        border-radius: 5px;
        overflow: hidden;
        height: 40px;
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.4s, color 0.4s;
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 20px;
    }

    .read-more:hover {
        background-color: #555; 
        color: white; 
    }

    @media (max-width: 1050px) {
        .outer-container {
            width: 100%;
            display: none;
        }

        .container {
            flex-direction: column;
            align-items: center;
        }

        .card {
            width: 100%;
            height: auto;
            padding: 10px;
        }

        .card p img {
            height: 20vh;
        }
    }
</style>
